.Home {
    height: 100vh;
    padding: 10px;
    background-color: rgb(228, 228, 228);
}

.Home .container {
    max-height: 100vh;
}

.Home .posts-list {
    max-height: 100vh;
    padding: 10px;
    background-color: #fff;
    overflow-y: scroll;
}
.Home .post{
    border: 1px solid rgb(175, 175, 175);
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.Home .post__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background-color: #000000;
    margin-bottom: 10px;
    padding: 5px;
}
.Home .post__title{
    font-size: 30px;
    padding: 5px;
    margin: 0;
}
.Home .post__link{
    border: 3px solid #aaa;
    padding: 10px;
    display: block;
    width: 200px;
    font-size: 18px;
    text-align: center;
    margin: 0 0 0 10px;
    border-radius: 16px;
    color: rgb(62, 138, 0);
    background-color: rgb(255, 230, 0);
    text-transform: uppercase;
    text-decoration: none;
}